[package]
name = "nix-ld"
version = "2.0.3"
edition = "2021"

[[bin]]
name = "nix-ld"
test = false

[[test]]
name = "tests"

[dependencies]
cfg-match = "0.2.1"
constcat = "0.5.0"
default-env = "0.1.1"
embedded-io = "0.6.1"
goblin = { version = "0.8.2", default-features = false, features = ["elf32", "elf64"] }
heapless = "0.8.0"
linux-raw-sys = { version = "0.6.5", default-features = false, features = ["no_std", "general", "errno"] }
log = "0.4.22"

[build-dependencies]
cc = "1.1.13"

[dev-dependencies]
cc = "1.1.13"
lazy_static = "1.5.0"
rstest = { version = "0.23.0", default-features = false }
tempfile = "3.12.0"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
debug = true

[features]
default = ["entry_trampoline"]

# Use a trampoline to revert our changes to LD_LIBRARY_PATH before executing the real program
entry_trampoline = []
